@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #1f2937;
}

.header__logo {
  color: #f9faf8;
  font-size: 1.5rem;
  margin-right: auto;
}

.header__links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}
